@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    min-height: 100vh;
    font-family: Tahoma;
}

header {
    background-color: #afddfb;


}

.banner-topo {
    display: flex;
    justify-content: center;

    padding-top: 1vh;

}

.banner-topo img {
    width: 130px;
}

.link-topo {
    display: flex;
    justify-content: center;

    padding-top: 2vh;
    padding-bottom: 1vh;
}

.link-topo a {
    color: #1d1d1d;
    border-bottom: 2px solid #1d1d1d;

    font-size: 1em;
    text-decoration: none;
    margin: 0 10px;
}

p a {
    color: #1d1d1d;
    border-bottom: 2px solid #1d1d1d;

    font-size: 1em;
    text-decoration: none;
    margin: 0 10px;
}

a:hover {
    font-size: 0.9em;
    font-weight: bold;
}

section {
    padding-bottom: 20px;
    display: block;
    justify-content: center;
    align-items: center;
}

.secao {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.banner {
    width: 100%;

    padding-top: 8vh;
    padding-bottom: 5vh;

}

img {
    display: block;
    margin: auto;

    width: 50vw\;
}

.imagem {
    width: 450px;
}

.titulos h1,
.titulos h2,
.titulos h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 25px;
}

.paragrafo {
    font-size: 18px;
    line-height: 28px;
    text-align: justify;

    margin: 10px auto;

    width: 620px;

}

.servico,
.contato {
    background-color: #1d80c1;
}


span {
    font-weight: bold;
}


h1 {
    color: #1d1d1d;
    margin-bottom: 5px;
}

h2 {
    font-weight: normal;
    color: #1c81c0;
    margin-top: 0;
}


.texto-azul {
    color: #1d80c1;
}

h3 {
    color: #000000;
    font-size: 28px;
    line-height: 42px;

    padding-top: 20px;
    padding-bottom: 10px;
}

.texto-amarelo {
    color: #fff81b;
}

/* listas */

.item-lista-servicos {
    font-size: 20px;
    line-height: 32px;

    text-align: justify;
    text-transform: uppercase;
    list-style-position: inside;

    color: #000000;
}


iframe {
    display: block;
    margin: auto;

    border-radius: 10px;
}

.rodape {
    background-color: #000000;
    color: white;

    margin: 5px 0px 5px 0px;
    padding: 0px 5px 0px 5px;

    text-align: center;
}

.rodape p {
    font-size: 16px;
    display: inline;
}

.rodape a {
    color: #1d80c1;
    font-size: 20px;
    font-weight: 500;

}

.rodape a:hover,
footer a:hover {
    color: aquamarine;
    border-bottom: 1px solid aquamarine;
}

footer {
    text-transform: uppercase;
    text-align: center;
    margin: 0px;
}

@media (max-width: 320px) {
    body {
    }

    header {
        height: 30vh;
        width: 100%;
    }

    .link-topo a {
        font-size: 14px;
    }

    section {
        display: inline;
        justify-content: center;

        padding-bottom: 5px;

        width: 100vw;

    }

    .titulos {
        font-size: 16px;
        padding: 2px;
    }

    .paragrafo {
        width: 80vw;
        padding: 2px;

        font-size: 14px;
        line-height: 20px;

        text-indent: 3px;
    }

    .item-lista-servicos,
    h3,
    h2,
    h1 {
        font-size: 16px;
        line-height: 20px;
    }

    iframe {
        width: 250px;
        height: 20vh;
    }

    .imagem {
        width: 60vw;
    }

    .rodape p,
    .rodape a,
    footer p {
        padding-top: 5px;
        font-size: 12px;
    }
}